/* media.css */

/* Адаптивные стили для заголовков */
@media (max-width: var(--breakpoint-md)) {
    h1 { font-size: var(--font-size-lg); }
    h2 { font-size: var(--font-size-base); }
    h3 { font-size: var(--font-size-sm); }
}

/* Адаптивные стили для изображений */
@media (max-width: var(--breakpoint-md)) {
    img {
        max-width: var(--image-width-md);
    }
}

@media (max-width: var(--breakpoint-sm)) {
    img {
        max-width: var(--image-width-sm);
    }
}

/* Адаптивная сетка */



@media (max-width: 1150px) {
    .header__line {
        margin: 45px 0;
    }

    .header__info {
        display: flex;
        flex-direction: column;
    }

    .kf-content_list {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 768px) {
    .header__info {
        display: flex;
        flex-direction: column;
    }
    .header__title {
        font-size: 2.5rem;
    }
    .header__line {
        margin: 30px 0;
    }
    
    .header__list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--primary-green);
        padding: 15px;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100%);
        opacity: 0;
        padding-top: 80px;
    }
    .header__list.show {
        display: block;
        transform: translateY(0);
        opacity: 1;
        transition: transform 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
    }
    
    

    .hamburger {
        display: block;
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;
        z-index: 9;
    }
    
    .hamburger span {
        display: block;
        width: 20px;
        height: 2px;
        margin-bottom: 4px;
        border-radius: 3px;
        background-color: var(--white);
        transition: all 0.3s ease-in-out;

    }
    
    
    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        left: 0;
    }
    
    .hamburger.open span:nth-child(2) {
        opacity: 0; 
    }
    
    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
        top: 50%;
        left: 0;
    }
    
    
    .hamburger span {
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    .header__content {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        gap: var(--spacing-md);
    }
    .logo {

        z-index: 9;
    }

    .kf-content_list {
        grid-template-columns: 1fr;
    }

    .grid-layout {
        grid-template-columns: 1fr;
    }
    
}